@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SoyuzGrotesk';
  src: url('/fonts/SoyuzGrotesk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'SoyuzGrotesk', system-ui, sans-serif;
}
